@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
Here is the GitHub icon in purple, size 48:
More icons are available at <a href="https://blazorocticons.net/" target="_blank">https://blazorocticons.net/</a>
<MarkGithub16 Color="#702AF7" Size="48" />